<style>
    .content {
        width: 85%;
        border: 10px solid red;
        padding-left: 15px;
        padding-right: 15px;
        cursor: pointer;
        margin: auto;
    }
    
    .itemname {
        font-size: 25px;
        font-weight: bold;
        background: black;
        color: white;
        border: 3px solid red;
        border-radius: 10px;
        padding: 3px;
    }
    
    .btnpro {
        text-decoration: none;
        color: black;
    }
    
    #cut {
        text-decoration: line-through;
    }
    
    p {
        font-size: 160%;
        font-weight: bold;
    }
    
    h1 {
        margin: auto;
    }
    /* make the boxes class into a grid containing 3 columns  */
    
    .boxes {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 10px;
        padding: 10px;
    }
</style>
{% extends 'base.html' %} {% block title %} {{ instance }} {% endblock %} {% block content %}
<div class="boxes">
    {% for item in data %}
    <div class="card bg-dark text-white" style="width: 23rem;">
        <div class="card-body">
            <h5 class="card-title">{{item}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Category: {{item.split(" ")[len(item.split(" "))-1]}}s</h6>
            <p class="card-text" id="cut">Actual Price: {{data[item].price}} Rupees</p>
            <p class="card-text">New Price: {{round(((100-data[item].discount)/100)*data[item].price)}} Rupees</p>
            <p class="card-text">Discount: {{data[item].discount}}%</p>
            <p class="card-text">Ratings: {{ data[item].rating }}⭐</p>
            <a href="/Buy-{{item}}/{{data[item].code}}" class="btn btn-secondary">Buy Now</a>
            <a href="/{{item}}/{{data[item].code}}" class="btn btn-secondary">Product Details</a>
        </div>
    </div>
</div>
{% endfor %} {% endblock %}