<style>
    .content {
        font-size: 50px;
    }
    
    .heading1 {
        color: white;
        background-color: black;
        width: fit-content;
        margin: auto;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 20px;
    }
</style>

{% extends 'base.html' %} {% block content %}
<div class="content">
    <p class="heading1">{% block title %} {{product}}{% endblock %}</p>
    <hr>
    <p>Prize: {{data[product].price}} Rupees</p>
    <hr>
    <p>Ratings: {{data[product].rating}} ⭐</p>
    <hr>
    <p>Discount: {{data[product].discount}}%</p>
    <hr>
    <p class="heading1">About the Product</p>
    {% for item in data[product].desc %} {% if type(item) == dict %}
    <p class="heading1">{{list(item.keys())[0]}}</p>
    {% for i in list(item.values()) %} {% for feature in i %}
    <li>{{ feature }}</li>

    {% endfor %} {% endfor %} {% else %}
    <p>{{item}}</p>
    {% endif %} {% endfor %}
    <hr>
</div>

{% endblock %}