<style>
    .proceed {
        font-size: 40px;
        border: 3px solid red;
    }
    .main{
        margin-left:20%;
        font-size: 2rem;
        margin-right: 20%;
    }
    #exampleInputEmail1{
        font-size: 1.4rem;
    }
    button[class='btn btn-primary']{
        font-size: 0.8em;
        margin-top:4vh;
        /* place the button to the center of the screen  */
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        

    }
    p[class='alert alert-primary']{
        font-size: 2.5rem;
        height: fit-content;
        margin-left: 20%;
        margin-right: 20%;
    }
</style>
{% extends 'base.html' %} {% block content %}
<p class="alert alert-primary">Proceed to pay {{round(((100-data[product].discount)/100)*(data[product].price))}} Rupees</p>
<form method="POST" action="/success" class="main">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">CVV Number</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}